<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../stylesheets/secret.css">
</head>
<body>
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>  
<div class="profile-card">
  <div class="top-section">
    <i class="message fa fa-envelope"></i>
    <i class="notif fa fa-bell"></i>
    <div class="pic">
      <img src="https://tinypic.host/images/2022/12/19/img_avatar.png" alt="profile picture">
    </div>
    <div class="name">
      SHINU patidar
    </div>
    <div class="tag"><a href="/logout">Logout</a></div>
  </div>
  <div class="bottom-section">
    <div class="social-media">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-codepen"></i></a>
    </div>
    <div class="videos"> <span><a href="/">change Password</a> </span></div>
    <div class="border"></div>
    <div class="subscribers">256K <span>Subscribers</span></div>
    <div class="border"></div>
    <div class="views">2M <span>Views</span></div>
  </div>
</div>
</body>
</html>


  

<!-- <li><a href="/logout">Logout</a></li> -->